@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

:root {
  --dark-blue: #132c41;
  --light-blue: #2a7990;
  --blue-font: #132c41;
  --tan-font: #fff3e2;
  --yellow-button: #f3b64e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

h1,
p,
button,
form {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

img {
  max-width: 55%;
  margin-left: 1.5rem;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: var(--tan-font, white);
}

input {
  height: 35px;
    width: 245px;
    padding: 10px 7px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 2px solid slategrey;
}

form button {
      padding: 10px 34px;
    cursor: pointer;
    background: #244968;
    color: white;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
}