/*************************************************************
  DEFINED VARIABLES
*************************************************************/

:root {
  --dark-blue: #132c41;
  --light-blue: #2a7990;
  --blue-font: #132c41;
  --tan-font: #fff3e2;
  --yellow-button: #f3b64e;
}

/*************************************************************
  RESET
*************************************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
form {
  text-align: center;
}

/*************************************************************
  HEADER STYLES
*************************************************************/

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  min-height: 80px;
}

header img {
  max-width: 40vw;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

nav li a,
nav li button {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-right: 1.125rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--yellow-button, white);
  background: none;
  border: none;
}

nav li a:hover,
nav li a:active,
nav li button:hover,
nav li button:active {
  color: var(--tan-font);
  text-decoration: underline;
}

/*************************************************************
  FORM STYLES
*************************************************************/

input {
  height: 35px;
  width: 245px;
  padding: 10px 7px;
  border-radius: 4px;
  margin-bottom: 5px;
  border: 2px solid var(--light-blue);
}

.form-btn, .register-link {
  padding: 10px 34px;
  cursor: pointer;
  background: var(--yellow-button);
  color: var(--blue-font);
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.register-link {
  background: none;
  color: var(--light-blue);
}

.register-link:hover,
.register-link:active {
  color: var(--dark-blue);
  text-decoration: underline;
}
